.nav 
   padding: 38px 0 32px
   &__logo 
      width: 215px
      height: 30px
      display: flex
      position: relative
      left: 20px
      img 
         width: 100%
         height: 100%
         object-fit: contain
   &__box 
      justify-content: space-between
      align-items: center
   &__list 
      flex-wrap: wrap
      justify-content: flex-start
      max-width: 300px
   &__item
      margin-right: 40px
      &:last-child
         margin-right: 0
      &.active 
         a 
            color: $grey
            border-bottom: 1px solid #CCBBA3
   &__link 
      font-family: 'Futura PT'
      font-weight: 500
      font-size: 14px
      line-height: 140%
      letter-spacing: 0.05em
      text-transform: uppercase
      color: $black
      border-bottom: 1px solid transparent
      transition: 0.5s
      &:hover
         border-bottom: 1px solid #CCBBA3
.swiper 
   width: 100%
   height: 730px
   padding-bottom: 60px
   &__all
      font-family: 'Futura PT'
      justify-content: flex-end
      align-items: center
      display: flex
      font-weight: 500
      font-size: 14px
      line-height: 140%
      letter-spacing: 0.05em
      color: $black
      text-transform: uppercase
      border-bottom: 1px solid $black
      width: max-content
      margin-left: auto
      padding-bottom: 5px
      transition: 0.3s
      &:after 
         content: ""
         display: block
         width: 12px
         height: 8px
         background: url(/img/arr-right.svg) no-repeat
         position: relative
         margin-left: 15px
         transition: 0.3s
         left: 0
      &:hover 
         color: $grey
         border-bottom: 1px solid $grey
         &:after 
            opacity: 0.3
            position: relative
            left: 5px
   &__bottom
      width: 100%
      margin-top: -15px
      position: relative
      z-index: 4
   &-pagination
      width: max-content
      display: flex
      align-items: center
   &-slide 
      width: 100%
      height: 100%
      img 
         width: 100%
         height: 100%
         object-fit: cover
.swiper-pagination-bullet
   width: 7px
   height: 7px
   background: #2C2C2C
   opacity: 0.2
   transition: 0.5s
.swiper-pagination-bullet-active
   background: url(/img/dot.svg) no-repeat
   width: 15px
   height: 15px
   opacity: 1
.header 
   padding-bottom: 99px
   .swiper-pagination-bullet-custom 
      display: block
      flex-shrink: 0
      width: 25px
      height: 25px
      position: relative
      cursor: pointer
      // pointer-events: none
   .swiper-pagination-bullet-custom::before 
      content: ''
      display: block
      width: 10px
      height: 10px
      border-radius: 50%
      background-color: #2C2C2C
      opacity: 0.2
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
   .swiper-pagination-bullet-custom:not(:last-child) 
      margin-right: 5px
   .swiper-pagination-bullet-custom svg 
      display: none
      width: 100%
      height: 100%
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%) rotate(-90deg)
   .swiper-pagination-bullet-custom--active svg 
      display: block
   .swiper-pagination-bullet-custom--active svg circle 
      stroke-dasharray: 56.5563
      stroke-dashoffset: 56.5563
      animation: BulletProgress calc(var(--delay) * 1ms) linear forwards
   .swiper-pagination-bullet-custom--active:before 
      background-color: #1A1A1A !important
      opacity: 1
      width: 13px
      height: 13px
   @keyframes BulletProgress 
      to 
         stroke-dashoffset: 0
   // .swiper--pause .swiper-pagination-bullet-custom--active svg circle 
   //    animation: initial
.text 
   padding: 121px 0 267px
   position: relative
   &__bg 
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: -1
   &__box 
      text-align: center
      h2 
         margin: 0 auto 16px
         font-size: 16px
      p 
         font-size: 16px
         line-height: 140%
         max-width: 674px
         margin: 0 auto 10px
         &:last-child
            margin-bottom: 0
.author 
   padding: 100px 0 105px
   position: relative
   &:after 
      content: ""
      display: block
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 10px
      background: url(/img/line.svg) no-repeat
   h2 
      margin: 0 auto 50px
   &__item 
      align-items: center
      justify-content: space-between
      width: 100%
      max-width: 930px
      margin: 0 auto 50px
      &:last-child
         margin-bottom: 0
      img 
         width: 360px
         height: 474px
         object-fit: cover
   &__right 
      width: 100%
      max-width: 54.85%
   &__content 
      p 
         font-size: 14px
         line-height: 140%
         margin-bottom: 20px
   &__info 
      h3 
         font-size: 14px
         line-height: 140%
         text-transform: uppercase
         color: $black
         border-bottom: 1px solid #CCBBA3
         width: max-content
         padding-bottom: 2px
         margin: 0 0 3px
      p 
         font-size: 12px
         color: #B3B3B3
.van 
   padding: 96px 0 140px
   position: relative
   &:after 
      content: ""
      display: block
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 10px
      background: url(/img/line.svg) no-repeat
   h2 
      margin: 0 auto 50px
   &__item 
      align-items: flex-start
      justify-content: space-between
      margin-bottom: 120px
      img 
         filter: drop-shadow(0px 4px 125px rgba(0, 0, 0, 0.1))
         width: 700px
         height: 440px
         object-fit: cover
      &:nth-child(2n)
         .van__content 
            order: 2
         img 
            order: 1
            display: flex
      &:last-child
         margin-bottom: 0
   &__content 
      width: 100%
      max-width: 360px
      display: flex
      flex-direction: column
      p 
         font-size: 14px
         line-height: 140%
      h3 
         margin-bottom: 9px
.swiper-button-next
   width: 48px
   height: 48px
   border: 1px solid rgba(44, 44, 44, 0.05)
   border-radius: 50%
   right: -94px
   top: 53%
   transition: border 0.5s
   &:after
      display: none
   &:hover 
      border: 1px solid black
.swiper-button-prev
   width: 48px
   height: 48px
   border: 1px solid rgba(44, 44, 44, 0.05)
   border-radius: 50%
   left: -94px
   top: 53%
   transition: border 0.5s
   &:after
      display: none
   &:hover 
      border: 1px solid black
.mySwiper
   height: auto
   padding-bottom: 60px
   overflow: hidden
.about 
   padding: 100px 0
   .swiper__all
      margin: -7px auto 0
   &__arrow
      transition: 0.3s
      img 
         transition: 0.3s
         position: relative
         left: 0
      &:hover
         img 
            transition: 0.3s
            opacity: 0.4
            position: relative
            left: 10px
   &__bottom
      margin-top: 18px
      align-items: center
      justify-content: space-between
      p 
         font-weight: 400
         font-size: 12px
         line-height: 140%
         color: #B3B3B3
   h3 
      font-size: 14px
      border: none
   &__pic 
      margin-bottom: 12px
   &__box 
      position: relative
      max-width: 930px
      width: 100%
      margin: 0 auto
   h2 
      margin: 0 auto
   &__sub 
      font-size: 14px
      line-height: 140%
      max-width: 434px
      margin: 10px 0 50px
   &__content 
      span 
         font-size: 12px
         margin-bottom: 5px
         line-height: 140%
         color: #B3B3B3
      p 
         font-size: 14px
         line-height: 140%
#map
   width: 100%
   height: 514px
   filter: grayscale(1)
   // -ms-filter: grayscale(1)
   // -webkit-filter: grayscale(1)
   // -moz-filter: grayscale(1)
   // -o-filter: grayscale(1)
   z-index: 1
.ymaps-layers-pane 
   filter: grayscale(1)
   -ms-filter: grayscale(1)
   -webkit-filter: grayscale(1)
   -moz-filter: grayscale(1)
   -o-filter: grayscale(1)
.map 
   &__box 
      position: relative
   &__block 
      position: absolute
      left: 11%
      top: 120px
      z-index: 2
      padding: 40px 50px
      min-width: 360px
      background: #FFFFFF
   &__name 
      font-family: 'Futura PT'
      font-weight: 500
      font-size: 14px
      line-height: 140%
      text-transform: uppercase
      margin-bottom: 20px
   &__tel
      display: block
      font-weight: 400
      font-size: 16px
      line-height: 140%
      color: #1A1A1A
      margin-bottom: 10px
   &__mail 
      font-weight: 400
      font-size: 14px
      line-height: 140%
      color: #1A1A1A
      margin-bottom: 20px
      display: block
   &__one 
      font-size: 12px
      line-height: 140%
      margin-bottom: 5px
   &__local 
      font-weight: 400
      font-size: 14px
      line-height: 140%
      margin-bottom: 5px
      display: block
   &__time 
      font-weight: 400
      font-size: 12px
      line-height: 140%
      color: #B3B3B3
      opacity: 0.7
.footer 
   background: #F2F2F2
   padding: 80px 0 26px
   &__bottom
      margin-top: 75px
      justify-content: space-between
      align-items: center
      p 
         font-size: 12px
         line-height: 140%
         color: #B3B3B3
         position: relative
         left: 55px
   &__link 
      background: rgba(166, 166, 166, 0.05)
      width: 30px
      height: 30px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-left: 12px
      border: 1px solid transparent
      transition: 0.5s
      &:hover 
         border: 1px solid $black
         svg 
            fill: $black
      svg 
         height: 16px
         width: 16px
         fill: #C7C7C7
      &:nth-child(1)
         svg 
            width: 15px
            height: 13px
   &__box 
      justify-content: space-between
      align-items: center
   &__content 
      p 
         font-size: 14px
         line-height: 140%
         max-width: 360px
   &__form 
      max-width: 645px
      width: 100%
      input 
         padding-left: 30px
         font-size: 14px
         background: transparent
         transition: 0.5s
         width: 35.2%
         height: 60px
         border: 1px solid rgba(44, 44, 44, 0.2)
      .input1
         border-right: none
   &__tel 
      font-size: 12px
      line-height: 140%
      color: #B3B3B3
      &:hover 
         color: $black
.menu-btn, .menu
   display: none
.about 
   &-text 
      padding: 100px 0
      background: #FAFAFA
   &-author::after
      display: none
.header2 
   padding-bottom: 0 !important
.team
   padding: 0 0 50px
   h2
      margin: 0 auto 10px
   &__sub 
      font-size: 14px
      line-height: 140%
      max-width: 455px
      text-align: center
      margin: 0 auto
   &__box 
      margin: 50px auto 0
      flex-wrap: wrap
      justify-content: space-between
      .author__item
         width: 32%
         .author__info p 
            margin-bottom: 7px
         img 
            width: 100%
            height: 540px
            margin-bottom: 20px
         h3 
            margin: 0 auto 5px
      .author__right
         text-align: center
         max-width: 100%
.news 
   padding: 50px 0 100px
   &__load
      color: $black
      border-bottom: 1px solid $black
      font-size: 14px
      line-height: 140%
      letter-spacing: 0.05em
      text-transform: uppercase
      font-family: 'Futura PT'
      font-weight: 500
      padding-bottom: 5px
      display: flex
      align-items: center
      width: max-content
      margin: 0 auto
      transition: 0.5s
      svg
         width: 12px
         height: 12px
         fill: $black
         margin-left: 15px
      &:hover
         color: $grey
         border-bottom: 1px solid $grey
         svg 
            fill: $grey
   &__box 
      justify-content: space-between
      flex-wrap: wrap
   &__item  
      width: 49%
      text-align: center
      margin-bottom: 50px
      img 
         width: 100%
         height: 330px
         object-fit: cover
         margin-bottom: 20px
         transition: 0.5s
      span 
         font-size: 12px
         line-height: 140%
         margin-bottom: 5px
         color: $grey
      p 
         font-size: 14px
         line-height: 140%
         text-transform: uppercase
         color: $black
         font-family: 'Futura PT'
         font-weight: 500
         margin-bottom: 7px
         transition: 0.5s
      a
         color: $grey
         border-bottom: 1px solid #CCBBA3
         letter-spacing: 0.05em
         text-transform: uppercase
         font-size: 14px
         font-family: 'Futura PT'
         font-weight: 500
         padding-bottom: 5px
         transition: 0.5s
         svg 
            fill: #B3B3B3
            width: 12px
            height: 8px
            margin-left: 12px
            transition: 0.5s
            position: relative
            left: 0
         &:hover 
            color: $black
            border-bottom: 1px solid $black
            svg 
               fill: $black
               position: relative
               left: 5px
               transition: 0.5s
   &__links 
      margin-bottom: 50px
      a 
         margin-right: 40px
         letter-spacing: 0.05em
         text-transform: uppercase
         color: $black
         font-family: 'Futura PT'
         font-weight: 500
         font-size: 14px
         transition: 0.5s !important
         border-bottom: 1px solid transparent
         &:hover 
            color: $grey
            border-bottom: 1px solid #CCBBA3
            transition: 0.5s !important
         &:last-child
            margin-right: 0
      .tabs__btn_active 
         color: $grey
         border-bottom: 1px solid #CCBBA3
   &-detail 
      padding: 100px 0
      p
         margin-bottom: 20px
      img 
         width: 550px
         height: 338px
         object-fit: cover
         margin-right: 35px
      h4 
         margin: 0 0 10px
         font-size: 14px
         line-height: 140%
         text-transform: uppercase
         font-family: 'Futura PT'
         font-weight: 500
.services 
   padding: 100px 0
   &__row   
      justify-content: space-between
      flex-wrap: wrap
   &__item 
      width: 32%
      margin-bottom: 30px
      h3 
         font-size: 16px
         line-height: 140%
         text-transform: uppercase
         color: #1A1A1A
         font-family: 'Futura PT'
         font-weight: 500
         border: none
         margin-bottom: 10px
      p 
         font-size: 14px
         line-height: 140%
   &__box
      margin-bottom: 60px
      &:last-child
         margin-bottom: 0
      h2 
         border: none
         font-size: 16px
         line-height: 140%
         text-transform: uppercase
         color: #CCBBA3
         margin-bottom: 30px
         font-family: 'Futura PT'
         font-weight: 500
.policy
   padding: 50px 0 80px
   p 
      font-size: 16px
      line-height: 140%
      margin-bottom: 10px
      max-width: 740px
.error
   padding: 140px 0 248px
   &__box 
      max-width: 400px
      text-align: center
      margin: 0 auto
   &__title 
      font-size: 14px
      line-height: 140%
      text-transform: uppercase
      font-family: 'Futura PT'
      font-weight: 500
   &__num 
      font-size: 120px
      line-height: 140%
      text-transform: uppercase
      font-family: 'Futura PT'
      font-weight: 500
   &__text
      margin-bottom: 30px
   &__btn 
      width: 223px
      height: 60px
      margin: 0 auto
.contacts
   &__box 
      align-items: center
   #map 
      width: 805px
      height: 500px
      position: relative
      right: -162px
   &__item 
      margin-bottom: 20px
   &__name 
      font-weight: 400
      font-size: 12px
      line-height: 140%
      margin-bottom: 5px
   &__tel 
      font-size: 16px
      line-height: 140%
      text-transform: uppercase
      color: $black
      font-family: 'Futura PT'
      font-weight: 500
   &__mail
      font-weight: 400
      font-size: 14px
      line-height: 140%
      color: $black
   &__text 
      font-size: 14px
      margin-bottom: 5px
   &__info 
      font-size: 12px
      line-height: 140%
      color: #B3B3B3
      opacity: 0.7
   &__flex 
      a 
         font-size: 14px
         line-height: 140%0px
         letter-spacing: 0.05em
         text-transform: uppercase
         color: $black
         font-family: 'Futura PT'
         font-weight: 500
         margin-right: 20px
         border-bottom: 1px solid transparent
         transition: 0.5s
         &:last-child
            margin-right: 0
         &:hover 
            color: $grey
            border-bottom: 1px solid $grey
.project 
   .news__item
      width: 32%
      p 
         transition: 0.5s 
         border-bottom: 1px solid transparent
         width: max-content
         margin: 0 auto
      img 
         height: 240px
      &:hover
         p 
            color: $grey
            border-bottom: 1px solid #CCBBA3
.partner
   .news__item
      img 
         height: 340px
      h2 
         border: none
         transition: 0.5s
         margin-bottom: 10px
      p 
         font-family: 'Futura PT Book'
         font-weight: 400
         font-size: 14px
         line-height: 140%
         text-align: left
         text-transform: inherit
      &:hover 
         p 
            color: $black
         h2 
            color: $grey
.atelier 
   .news__item
      p
         margin-bottom: 15px
      &:hover 
         p 
            color: $black
.project-view
   .swiper 
      padding-bottom: 0
      z-index: 3
   .swiper-button-next, .swiper-button-prev
      border: none !important
      transition: 0.5s
      &:before 
         transition: 0.5s
         width: 0
         content: ""
         display: block
         height: 1px
         background: #1A1A1A
         flex: 1 0 auto
         opacity: 0.7
      &:after
         transition: 0.5s
         width: 0
         content: ""
         display: block
         height: 1px
         opacity: 0.7
         background: #1A1A1A
         flex: 1 0 auto
      img 
         transition: 0.5s
   .swiper-button-next
      &:hover:before 
         content: ""
         display: block
         width: 10px
         height: 1px
         background: black
         flex: 1 0 auto
         transition: 0.5s
   .swiper-button-prev
      &:hover:after
         content: ""
         display: block
         width: 10px
         height: 1px
         background: black
         flex: 1 0 auto
         transition: 0.5s
   .menu-btn2
      display: block !important
      font-size: 14px
      line-height: 140%
      text-transform: uppercase
      color: $black
      padding-bottom: 3px
      border-bottom: 1px solid #CCBBA3
      width: max-content
      font-family: 'Futura PT'
      font-weight: 500
      margin: 50px auto 100px
      transition: 0.5s
      position: relative
      z-index: 3
      cursor: pointer
      &.active 
         color: #FFFFFF
         &:hover 
            color: white
      &:hover 
         color: $grey
   .menu2 
      position: absolute
      bottom: -100%
      transition: 0.5s
      &.active
         padding: 80px 0
         text-align: center
         width: 100%
         height: max-content
         background: #B3ABA1
         color: white
         bottom: 0%
         z-index: 2
         transition: 0.5s
         max-height: 470px
         p:nth-child(1)
            margin-bottom: 20px
            font-size: 20px
            line-height: 140%
            text-transform: uppercase
            font-family: 'Futura PT'
            font-weight: 500
         p:nth-child(2)
            max-width: 706px
            font-size: 14px
            line-height: 140%
            margin: 0 auto 20px
            min-height: 120px
         p:nth-child(3)
            font-size: 14px
         &:before 
            content: ""
            display: block
            width: 100%
            height: 77px
            position: absolute
            top: -62px
            left: 0
            z-index: 1
            background: #B3ABA1
   &__box 
      position: relative
.tabs__pane 
   display: none
.tabs__pane_show 
   display: block
.pub 
   &__pic 
      position: relative
      margin-right: 20px
      &:after 
         content: ""
         display: block
         position: absolute
         top: 0
         right: 0
         bottom: 0
         left: 0
         background-color: #000
         background-color: rgba(0,0,0,0.1)
         opacity: 0
         width: 100%
         height: 98.7%
         -webkit-transition: all 350ms ease-in-out
         -moz-transition: all 350ms ease-in-out
         -o-transition: all 350ms ease-in-out
         -ms-transition: all 350ms ease-in-out
         transition: all 350ms ease-in-out
      &:hover:after 
         opacity: 1
   &__box 
      flex-wrap: wrap
      justify-content: space-between
   &__item 
      width: 49%
      align-items: flex-start
      margin-bottom: 50px
      img 
         width: 265px
         height: 380px
         object-fit: cover
         margin-bottom: 0
      h3
         font-size: 14px
         border: none
         margin-bottom: 10px
      p 
         font-size: 16px
         line-height: 140%
         max-width: 240px
.open-popup
   display: inline-block
   padding: 15px 30px
   text-transform: uppercase
   background: #2982ff
   color: #fff
   text-decoration: none
   font-weight: 500
   border-radius: 5px
.popup__bg
   position: fixed
   top: 0
   left: 0
   width: 100%
   height: 100vh
   background: #666666
   opacity: 0
   pointer-events: none
   transition: 0.5s all
   overflow-y: auto
   overflow-x: hidden
.popup__bg.active
    opacity: 1
    pointer-events: all
    transition: 0.5s all
    z-index: 22
.popup
   position: absolute
   top: 49%
   left: 50%
   transform: translate(-50%, -50%) scale(0)
   width: 930px
   height: 556px
   transition: 0.5s all
   text-align: center
   &__wrap 
      padding-bottom: 50px
   &__flex 
      justify-content: center
      align-items: center
      margin-top: 40px
      p 
         font-weight: 400
         font-size: 14px
         line-height: 140%
         color: #FFFFFF
         text-align: center
   h2 
      color: white
      text-align: center
      margin: 0 auto 10px
   h3 
      font-size: 20px
      line-height: 140%
      text-align: center
      text-transform: uppercase
      color: white
      margin: 0 auto 50px
      border: none
.popup.active
   transform: translate(-50%, -50%) scale(1)
   transition: 0.5s all
.close-popup
   position: absolute
   top: 0
   right: -100px
   cursor: pointer
   width: 12px
   height: 12px
   fill: white
   &:hover 
      transform: rotate(90deg)
      fill: $grey
.mySwiper2
   overflow: visible
   height: auto
   padding-bottom: 0
   max-width: 800px
   .swiper-slide-active
      transform: scale(1.1) !important
      z-index: 3
   .swiper-slide
      margin-right: 0px
      max-width: 800px
      transition: 0.5s
      transform: scale(0.8)
   .swiper-pagination
      position: absolute
      right: 0
      bottom: -3px
      left: inherit
      color: white
      font-size: 14px
      span 
         font-size: 14px
         color: white


.box
   cursor: none
   a:after 
      content: ''
      position: absolute
      width: 0
      height: 2px
      display: block
      margin-top: 0px
      left: 0%
      background: black
      transition: width .3s ease
   a:hover:after
      width: 100%
      left: 0%
      background: black
   .swiper-button-next, .swiper-button-prev
      width: 112%
      height: 100vh
      z-index: 10000
      border: none !important
      cursor: none
   .swiper-button-prev
      left: -58%
      top: -55%
   .swiper-button-next
      right: -58%
      top: -55%
.cursor 
   width: 50px
   height: 50px
   transition: all 200ms ease-out
   position: fixed
   display: flex
   align-items: center
   justify-content: center
   pointer-events: none
   left: inherit
   right: 125%
   top: -30px
   transform: translate(calc(-50% + 15px), -50%)
   z-index: 1000
   display: flex
   align-items: center
   justify-content: center
.cursor2 
   display: flex
   align-items: center
   justify-content: center
   width: 50px
   height: 50px
   border-radius: 100%
   opacity: .3
   position: fixed
   transform: translate(-50%, -50%)
   pointer-events: none
   transition: width .3s, height .3s, opacity .3s
   z-index: 1000
   right: 125%
   top: -30px
.hover 
   background: url(/img/left.webp) no-repeat  !important
   width: 70px
   height: 20px
.cursorinnerhover 
   width: 50px
   height: 50px
   opacity: .5
.hover2
   background: url(/img/right.webp) no-repeat !important
   width: 70px
   height: 20px